@import "tailwindcss";

@layer utilities {
  .loadPokemon {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  @media (max-width: 1339px) {
    .loadPokemon {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  @media (max-width: 1159px) {
    .loadPokemon {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (max-width: 939px) {
    .loadPokemon {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (max-width: 722px) {
    .loadPokemon {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}